<div class="footer">
  <div class="footer__logo">
    <img src="/img/logo-green.png" alt="Natours logo" />
  </div>
  <ul class="footer__nav">
    <li><a href="#">درباره ما</a></li>
    <li><a href="#">دانلود اپلیکیشن نوین شاپ</a></li>
    <li><a href="#">سفارش محصول</a></li>
    <li><a href="#">تماس با ما</a></li>
  </ul>
  <p class="footer__copyright">
    تمامی حقوق متعلق به سایت نوین شاپ می باشد &copy;
  </p>
</div>