<header class="header">
    <nav class="nav nav--tours">
        <a href="/" class="nav__el" style="font-family: 'BYekan';"> تمامی محصولات</a>
        <form class="nav__search">
            <button class="nav__search-btn">
                <svg>
                    <use xlink:href="/img/icons.svg#icon-search"></use>
                </svg>
            </button>
            <input type="text" placeholder="جستجو محصولات" class="nav__search-input" />
        </form>
    </nav>
    <div class="header__logo">
        <img src="/img/logo-white.png" alt="Natours logo" />
    </div>

    <nav class="nav nav--user">

<!-- 
        <a href="/logout" class="nav__el nav__el--logout">Log out</a>
        <a href="/me" class="nav__el">
            <img src="" alt="<%=" Photo of user "%>
                    class=" nav__user-img" />
            <span>
            </span>
        </a> -->


        <a href="#" class="nav__el">ورود</a>
        <a href="#" class="nav__el nav__el--cta">عضویت</a>

    </nav>
</header>