<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet" />
    <title>
        <%= pageTitle %>
    </title>

</head>

<body class="rtl">
    <%- include ("../includes/header.ejs") %>
        <%- body %>
            <%- include("../includes/footer.ejs") %>
</body>

<script src="/js/bundle.js"> </script>

</html>